body {
  padding: 0;
  margin: 0;
}

#btn,
#Rotate,
#switchModel,
#playSecondModelAnimation {
  background: #fea;
  padding: 25px;
  font-family: "Oswald", sans-serif;
}
#toggleWireframe {
  background: #fea;
  padding: 25px;
  font-family: "Oswald", sans-serif;
}

.container-fluid,
.row,
.col-sm-10 {
  padding: 0;
  margin: 10;
  width: 100%;
  overflow: visible;
}

#gui-container {
  position: absolute;
  top: 120px;
  left: 10px;
  z-index: 1000;
}
