/* ===== Global Setup ===== */
@font-face {
  font-family: cocaColaFont;
  src: url("../assets/fonts/lokicola.ttf") format("truetype");
}

body {
  padding-bottom: 5px;
  background-color: rgb(245, 164, 98);
}

/* ===== Typography ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

/* ===== Main Layout ===== */
.container-fluid,
.row,
.col-sm-10 {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: visible;
}

.main_contents {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  background-color: rgb(245, 164, 98);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0px solid rgba(0, 0, 0, 0.125);
}

#main_3d_image {
  background-image: url(assets/images/main_3D.jpg);
  background-repeat: no-repeat;
  height: 201px;
}

#main_text {
  float: left;
  margin: 5%;
  width: 90%;
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
}

#main_text h2 {
  color: rgba(0, 102, 153, 1);
  font-size: 20px;
}

#main_text h3 {
  font-size: 15px;
}

#main_text p {
  font-size: 12px;
  line-height: 1.2;
}

/* ===== Logo Styles ===== */
.logo h1,
.logo h2 {
  font-family: cocaColaFont;
}

.logo p {
  font-size: 10px;
}

/* ===== Navbar Styling ===== */
.navbar_coca_cola {
  background-color: #760003;
  border-width: 0px;
  min-height: 70px;
}

.navbar_coca_cola .navbar-brand {
  color: rgb(245, 235, 235);
}

.navbar_coca_cola .navbar-brand:hover {
  color: yellow;
}

.navbar_coca_cola .navbar-nav > li > a {
  color: white;
}

.navbar_coca_cola .navbar-nav > li > a:hover,
.navbar_coca_cola .navbar-nav > li > a:focus {
  color: yellow;
}

.navbar_coca_cola .navbar-nav .nav-item > .active,
.navbar_coca_cola .navbar-nav > .active > a:hover,
.navbar_coca_cola .navbar-nav > .active > a:focus {
  color: white;
  background-color: #ae0011;
}

.navbar_coca_cola .navbar-toggler {
  border-color: white;
  outline: none !important;
}

.navbar_coca_cola .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ===== Dropdown Styling ===== */
.dropdown-menu {
  text-align: -webkit-left;
  background-color: #eb9a91;
  margin-top: 20px;
}

.dropdown-menu .dropdown-item {
  color: #f1ee08;
}

.dropdown-menu .dropdown-item:hover {
  color: #030303;
  background-color: #e98074;
}

/* ===== Footer ===== */
.footer {
  background-color: #760003;
  color: #fff;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.navbar-text > a {
  color: rgb(255, 255, 255);
  font-size: 8px;
  text-decoration: none;
}

.navbar-text > p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-decoration: none;
}

.copyright {
  padding-top: 8px;
}
.social {
  padding-top: 0px;
}

@media (min-width: 576px) {
  body {
    background-color: rgb(202, 181, 181);
  }

  #main_3d_image {
    background-image: url(assets/images/main_3D_768.jpg);
    background-repeat: no-repeat;
    height: 288px;
  }

  #main_text {
    float: right;
    margin-top: 7%;
  }

  .card {
    border: 0px solid rgba(0, 0, 0, 0.125);
    /* border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(202, 181, 181);
  }

  .navbar_coca_cola {
    background-color: grey;
    min-height: 90px;
  }

  /* CSS rule to style the footer */
  .footer {
    background-color: #257600;
    height: 60px;
  }

  .navbar-text > a {
    font-size: 10px;
  }

  .navbar-text > p {
    color: rgb(228, 75, 15);
    font-size: 18px;
  }

  .copyright {
    padding-top: 20px;
  }

  .social {
    padding-top: 7px;
  }
}

/* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
  body {
    background-color: rgb(218, 216, 148);
  }

  #main_3d_image {
    background-image: url(assets/images/main_3D_970.jpg);
    background-repeat: no-repeat;
    height: 363px;
  }

  .card {
    border: 0px solid rgba(0, 0, 0, 0.125);
    /* border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(218, 216, 148);
  }

  #main_text {
    float: right;
    margin-top: 7%;
  }

  #main_text h2 {
    color: crimson;
    font-size: 30px;
  }

  #main_text h3 {
    color: darkcyan;
    font-size: 22px;
  }

  #main_text p {
    font-size: 15px;
  }

  /* ++++++++++++++++++++++++++LOGO+++++++++++++++++++++++*/

  /* CSS rule to style the mobile logo */

  .logo {
    margin-top: 3px;
  }

  .logo h1 {
    font-family: cocaColaFont;
    font-size: 41px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
  }

  .logo h2 {
    font-family: cocaColaFont;
    font-size: 43px;
    margin-top: 5px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
  }

  .logo h3 {
    font-size: 31px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
  }

  .logo p {
    font-size: 10px;
    margin-top: 45px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 8px;
  }

  .navbar_coca_cola {
    background-color: grey;
    min-height: 90px;
  }

  /* CSS rule to style the footer */
  .footer {
    background-color: #b890b1;
    height: 60px;
  }

  .navbar-text > a {
    font-size: 10px;
  }

  .navbar-text > p {
    color: rgb(12, 5, 3);
    font-size: 18px;
  }

  .copyright {
    padding-top: 20px;
  }

  .social {
    padding-top: 7px;
  }
}

/* Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
  body {
    background-color: rgb(185, 185, 178);
  }

  #main_3d_image {
    background-image: url(assets/images/main_3D_1400a.jpg);
    background-repeat: no-repeat;
    height: 500px;
  }

  #main_text {
    float: right;
    margin-top: 20%;
  }

  #main_text h2 {
    color: crimson;
    font-size: 30px;
  }

  #main_text h3 {
    color: darkcyan;
    font-size: 22px;
  }

  #main_text p {
    font-size: 15px;
  }

  .card {
    border: 0px solid rgba(0, 0, 0, 0.125);
    /* border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(185, 185, 178);
  }

  .logo {
    margin-top: 7px;
  }

  .logo h1 {
    font-family: cocaColaFont;
    font-size: 59px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: -20px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .logo h2 {
    font-family: cocaColaFont;
    font-size: 65px;
    margin-top: 7px;
    margin-bottom: -25px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 6px;
    float: left;
  }

  .logo h3 {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
  }

  .logo p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 65px;
    padding-left: 12px;
  }

  .navbar_coca_cola {
    background-color: grey;
    min-height: 120px;
  }

  /* CSS rule to style the footer */
  .footer {
    background-color: rgb(163, 4, 4);
    height: 75px;
  }

  .navbar-text > a {
    font-size: 15px;
  }

  .navbar-text > p {
    color: rgb(238, 6, 246);
    font-size: 23px;
  }

  .copyright {
    padding-top: 20px;
  }

  .social {
    padding-top: 7px;
  }
}
